.cat {
  position: absolute;
  top: 50%;
  right: 20%;
  height: 20vh;
}

.content {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 400px;
}

.cont1 {
  background-color: aqua;
  position: relative;
  height: 50vh;
  width: 100%;
}

.content2 {
  position: absolute;
  top: 20px;
  right: 50%;
}
.cont1 img {
  position: absolute;
  left: 60px;
  width: 100px;
}

.container {
  border: 1px solid #000;
  padding: 20px;
  background: #000;
  color: #fff;
  width: 100%;
  height: 40vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}
